In [51]:
import pandas as pd

df = pd.read_csv("FAF5 Total Truck Flows by Commodity_2022.csv")
restart_df = df

In [52]:
print(df.shape)
print(df.head(10))

(315895, 79)
   ID  AB Tons_22 All  BA Tons_22 All  AB Trips_22 All  BA Trips_22 All  \
0   1         226.259           0.000          34.6843           0.0000
1   2         226.259         320.141          34.6843          33.0176
2   3         320.141           0.000          33.0176           0.0000
3   4         320.141         226.259          33.0176          34.6843
4   5         744.737         539.656          98.1926          67.4299
5   6         622.286         921.249          81.3979         110.4940
6   8         320.141         226.259          33.0176          34.6843
7   9         320.141         226.259          33.0176          34.6843
8  12         320.141         226.259          33.0176          34.6843
9  13         744.737         539.656          98.1926          67.4299

   TOT Tons_22 All  TOT Trips_22 All  AB Farm Products-Tons_22 All  \
0          226.259           34.6843                      94.16930
1          546.400           67.7019                      94.16930
2          320.141           33.0176                       2.62481
3          546.400           67.7019                       2.62481
4         1284.390          165.6220                     258.49500
5         1543.530          191.8920                     265.81100
6          546.400           67.7019                       2.62481
7          546.400           67.7019                       2.62481
8          546.400           67.7019                       2.62481
9         1284.390          165.6220                     258.49500

   BA Farm Products-Tons_22 All  AB Farm Products-Trips_22 All  ...  \
0                       0.00000                      14.566300  ...
1                       2.62481                      14.566300  ...
2                       0.00000                       0.427797  ...
3                      94.16930                       0.427797  ...
4                     194.92600                      38.233500  ...
5                     237.83600                      40.132100  ...
6                      94.16930                       0.427797  ...
7                      94.16930                       0.427797  ...
8                      94.16930                       0.427797  ...
9                     194.92600                      38.233500  ...

   AB Motor and Other Veh-Trips_22 All  BA Motor and Other Veh-Trips_22 All  \
0                             0.000032                             0.000000
1                             0.000032                             0.159434
2                             0.159434                             0.000000
3                             0.159434                             0.000032
4                             0.479346                             0.000239
5                             0.000271                             0.638780
6                             0.159434                             0.000032
7                             0.159434                             0.000032
8                             0.159434                             0.000032
9                             0.479346                             0.000239

   TOT Motor and Other Veh-Tons_22 All  TOT Motor and Other Veh-Trips_22 All  \
0                             0.000192                              0.000032
1                             0.955451                              0.159466
2                             0.955259                              0.159434
3                             0.955451                              0.159466
4                             2.873470                              0.479586
5                             3.828920                              0.639051
6                             0.955451                              0.159466
7                             0.955451                              0.159466
8                             0.955451                              0.159466
9                             2.873470                              0.479586

   AB Mixed Freight-Tons_22 All  BA Mixed Freight-Tons_22 All  \
0                      33.08680                      0.000000
1                      33.08680                      8.588210
2                       8.58821                      0.000000
3                       8.58821                     33.086800
4                      36.86880                      0.221285
5                       2.15543                     14.304300
6                       8.58821                     33.086800
7                       8.58821                     33.086800
8                       8.58821                     33.086800
9                      36.86880                      0.221285

   AB Mixed Freight-Trips_22 All  BA Mixed Freight-Trips_22 All  \
0                       8.599930                       0.000000
1                       8.599930                       1.951880
2                       1.951880                       0.000000
3                       1.951880                       8.599930
4                       9.412440                       0.055893
5                       0.525532                       3.234030
6                       1.951880                       8.599930
7                       1.951880                       8.599930
8                       1.951880                       8.599930
9                       9.412440                       0.055893

   TOT Mixed Freight-Tons_22 All  TOT Mixed Freight-Trips_22 All
0                       33.08680                         8.59993
1                       41.67500                        10.55180
2                        8.58821                         1.95188
3                       41.67500                        10.55180
4                       37.09010                         9.46833
5                       16.45980                         3.75956
6                       41.67500                        10.55180
7                       41.67500                        10.55180
8                       41.67500                        10.55180
9                       37.09010                         9.46833

[10 rows x 79 columns]

In [61]:
df = restart_df
print(df.columns)

Index(['ID', 'AB Tons_22 All', 'BA Tons_22 All', 'AB Trips_22 All',
       'BA Trips_22 All', 'TOT Tons_22 All', 'TOT Trips_22 All',
       'AB Farm Products-Tons_22 All', 'BA Farm Products-Tons_22 All',
       'AB Farm Products-Trips_22 All', 'BA Farm Products-Trips_22 All',
       'TOT Farm Products-Tons_22 All', 'TOT Farm Products-Trips_22 All',
       'AB Food, Bev and Tobacco-Tons_22 All',
       'BA Food, Bev and Tobacco-Tons_22 All',
       'AB Food, Bev and Tobacco-Trips_22 All',
       'BA Food, Bev and Tobacco-Trips_22 All',
       'TOT Food, Bev and Tobacco-Tons_22 All',
       'TOT Food, Bev and Tobacco-Trips_22 All',
       'AB Stone Sand Gravel & Ores-Tons_22 All',
       'BA Stone Sand Gravel & Ores-Tons_22 All',
       'AB Stone Sand Gravel & Ores-Trips_22 All',
       'BA Stone Sand Gravel & Ores-Trips_22 All',
       'TOT Stone Sand Gravel & Ores-Tons_22 All',
       'TOT Stone Sand Gravel & Ores-Trips_22 All',
       'AB Liquid and Gases-Tons_22 All', 'BA Liquid and Gases-Tons_22 All',
       'AB Liquid and Gases-Trips_22 All', 'BA Liquid and Gases-Trips_22 All',
       'TOT Liquid and Gases-Tons_22 All', 'TOT Liquid and Gases-Trips_22 All',
       'AB Chemicals-Tons_22 All', 'BA Chemicals-Tons_22 All',
       'AB Chemicals-Trips_22 All', 'BA Chemicals-Trips_22 All',
       'TOT Chemicals-Tons_22 All', 'TOT Chemicals-Trips_22 All',
       'AB Logs & Oth Wood Prods-Tons_22 All',
       'BA Logs & Oth Wood Prods-Tons_22 All',
       'AB Logs & Oth Wood Prods-Trips_22 All',
       'BA Logs & Oth Wood Prods-Trips_22 All',
       'TOT Logs & Oth Wood Prods-Tons_22 All',
       'TOT Logs & Oth Wood Prods-Trips_22 All',
       'AB Waste and Scrap-Tons_22 All', 'BA Waste and Scrap-Tons_22 All',
       'AB Waste and Scrap-Trips_22 All', 'BA Waste and Scrap-Trips_22 All',
       'TOT Waste and Scrap-Tons_22 All', 'TOT Waste and Scrap-Trips_22 All',
       'AB Consumer Manuf-Tons_22 All', 'BA Consumer Manuf-Tons_22 All',
       'AB Consumer Manuf-Trips_22 All', 'BA Consumer Manuf-Trips_22 All',
       'TOT Consumer Manuf-Tons_22 All', 'TOT Consumer Manuf-Trips_22 All',
       'AB Durable Manuf (low tech)-Tons_22 All',
       'BA Durable Manuf (low tech)-Tons_22 All',
       'AB Durable Manuf (low tech)-Trips_22 All',
       'BA Durable Manuf (low tech)-Trips_22 All',
       'TOT Durable Manuf (low tech)-Tons_22 All',
       'TOT Durable Manuf (low tech)-Trips_22 All',
       'AB Durable Manuf (high tech)-Tons_22 All',
       'BA Durable Manuf (high tech)-Tons_22 All',
       'AB Durable Manuf (high tech)-Trips_22 All',
       'BA Durable Manuf (high tech)-Trips_22 All',
       'TOT Durable Manuf (high tech)-Tons_22 All',
       'TOT Durable Manuf (high tech)-Trips_22 All',
       'AB Motor and Other Veh-Tons_22 All',
       'BA Motor and Other Veh-Tons_22 All',
       'AB Motor and Other Veh-Trips_22 All',
       'BA Motor and Other Veh-Trips_22 All',
       'TOT Motor and Other Veh-Tons_22 All',
       'TOT Motor and Other Veh-Trips_22 All', 'AB Mixed Freight-Tons_22 All',
       'BA Mixed Freight-Tons_22 All', 'AB Mixed Freight-Trips_22 All',
       'BA Mixed Freight-Trips_22 All', 'TOT Mixed Freight-Tons_22 All',
       'TOT Mixed Freight-Trips_22 All'],
      dtype='object')

In [62]:
freight_types = {
    'Farm Products': 'farm',
    'Food, Bev and Tobacco': 'foodandbev',
    'Stone Sand Gravel & Ores': 'construction',
    'Liquid and Gases': 'fluids',
    'Chemicals': 'chemicals',
    'Logs & Oth Wood Prods': 'wood',
    'Waste and Scrap': 'waste',
    'Consumer Manuf': 'consumer_manuf',
    'Durable Manuf (low tech)': 'dur_manuf_low',
    'Durable Manuf (high tech)': 'dur_manuf_high',
    'Motor and Other Veh': 'motorvehicles',
    'Mixed Freight': 'mixed'
}

In [55]:
def rename_columns(df):
    column_mapping = {}
    
    for col in df.columns:
        if col == 'ID':
            column_mapping[col] = 'route_id'
            continue
            
        if col.startswith(('AB ', 'BA ', 'TOT ')):
            direction, rest = col.split(' ', 1)
            direction = direction.lower()
            
            if rest in ['Tons_22 All', 'Trips_22 All']:
                measure = rest.split('_')[0].lower()
                column_mapping[col] = f"{direction}_{measure}"
                continue
                
            for ft, short in freight_types.items():
                if ft and f"{ft}-" in rest:
                    measure = rest.split('-')[1].split('_')[0].lower()
                    column_mapping[col] = f"{direction}_{short}_{measure}"
                    break
    
    return df.rename(columns=column_mapping)

In [66]:
df_renamed = rename_columns(df)
df_renamed.head()

,route_id,ab_tons,ba_tons,ab_trips,ba_trips,tot_tons,tot_trips,ab_farm_tons,ba_farm_tons,ab_farm_trips,...,ab_motorvehicles_trips,ba_motorvehicles_trips,tot_motorvehicles_tons,tot_motorvehicles_trips,ab_mixed_tons,ba_mixed_tons,ab_mixed_trips,ba_mixed_trips,tot_mixed_tons,tot_mixed_trips
0,1,226.259,0.000,34.6843,0.0000,226.259,34.6843,94.16930,0.00000,14.566300,...,0.000032,0.000000,0.000192,0.000032,33.08680,0.000000,8.59993,0.000000,33.08680,8.59993
1,2,226.259,320.141,34.6843,33.0176,546.400,67.7019,94.16930,2.62481,14.566300,...,0.000032,0.159434,0.955451,0.159466,33.08680,8.588210,8.59993,1.951880,41.67500,10.55180
2,3,320.141,0.000,33.0176,0.0000,320.141,33.0176,2.62481,0.00000,0.427797,...,0.159434,0.000000,0.955259,0.159434,8.58821,0.000000,1.95188,0.000000,8.58821,1.95188
3,4,320.141,226.259,33.0176,34.6843,546.400,67.7019,2.62481,94.16930,0.427797,...,0.159434,0.000032,0.955451,0.159466,8.58821,33.086800,1.95188,8.599930,41.67500,10.55180
4,5,744.737,539.656,98.1926,67.4299,1284.390,165.6220,258.49500,194.92600,38.233500,...,0.479346,0.000239,2.873470,0.479586,36.86880,0.221285,9.41244,0.055893,37.09010,9.46833

In [67]:
smaller_df = df_renamed.sample(n=10000)
smaller_df.head()

,route_id,ab_tons,ba_tons,ab_trips,ba_trips,tot_tons,tot_trips,ab_farm_tons,ba_farm_tons,ab_farm_trips,...,ab_motorvehicles_trips,ba_motorvehicles_trips,tot_motorvehicles_tons,tot_motorvehicles_trips,ab_mixed_tons,ba_mixed_tons,ab_mixed_trips,ba_mixed_trips,tot_mixed_tons,tot_mixed_trips
44090,329481,476.993,0.0,61.9734,0.0,476.993,61.9734,282.5140,0.0,34.21850,...,0.144029,0.0,0.85857,0.144029,3.98301,0.0,0.932362,0.0,3.98301,0.932362
162429,1029930,691.859,0.0,81.0214,0.0,691.859,81.0214,234.4930,0.0,24.83510,...,0.366562,0.0,2.52438,0.366562,16.72810,0.0,2.647840,0.0,16.72810,2.647840
240541,1461312,449.866,0.0,47.3293,0.0,449.866,47.3293,26.6277,0.0,3.33751,...,0.242389,0.0,1.46667,0.242389,10.28580,0.0,2.082390,0.0,10.28580,2.082390
114127,773431,26507.090,0.0,3055.1800,0.0,26507.090,3055.1800,2432.7500,0.0,298.48500,...,104.447000,0.0,752.69700,104.447000,1137.66000,0.0,181.499000,0.0,1137.66000,181.499000
314850,1941768,3113.850,0.0,401.4280,0.0,3113.850,401.4280,85.8803,0.0,11.08210,...,11.520300,0.0,70.70940,11.520300,205.15100,0.0,33.849200,0.0,205.15100,33.849200

In [68]:
smaller_df = smaller_df.dropna()
smaller_df = smaller_df.drop_duplicates()
df_cleaned = smaller_df.reset_index(drop=True)
df_cleaned.to_csv('cleaned_dataset.csv', index=False)

In [72]:
df_cleaned.columns

Index(['route_id', 'ab_tons', 'ba_tons', 'ab_trips', 'ba_trips', 'tot_tons',
       'tot_trips', 'ab_farm_tons', 'ba_farm_tons', 'ab_farm_trips',
       'ba_farm_trips', 'tot_farm_tons', 'tot_farm_trips',
       'ab_foodandbev_tons', 'ba_foodandbev_tons', 'ab_foodandbev_trips',
       'ba_foodandbev_trips', 'tot_foodandbev_tons', 'tot_foodandbev_trips',
       'ab_construction_tons', 'ba_construction_tons', 'ab_construction_trips',
       'ba_construction_trips', 'tot_construction_tons',
       'tot_construction_trips', 'ab_fluids_tons', 'ba_fluids_tons',
       'ab_fluids_trips', 'ba_fluids_trips', 'tot_fluids_tons',
       'tot_fluids_trips', 'ab_chemicals_tons', 'ba_chemicals_tons',
       'ab_chemicals_trips', 'ba_chemicals_trips', 'tot_chemicals_tons',
       'tot_chemicals_trips', 'ab_wood_tons', 'ba_wood_tons', 'ab_wood_trips',
       'ba_wood_trips', 'tot_wood_tons', 'tot_wood_trips', 'ab_waste_tons',
       'ba_waste_tons', 'ab_waste_trips', 'ba_waste_trips', 'tot_waste_tons',
       'tot_waste_trips', 'ab_consumer_manuf_tons', 'ba_consumer_manuf_tons',
       'ab_consumer_manuf_trips', 'ba_consumer_manuf_trips',
       'tot_consumer_manuf_tons', 'tot_consumer_manuf_trips',
       'ab_dur_manuf_low_tons', 'ba_dur_manuf_low_tons',
       'ab_dur_manuf_low_trips', 'ba_dur_manuf_low_trips',
       'tot_dur_manuf_low_tons', 'tot_dur_manuf_low_trips',
       'ab_dur_manuf_high_tons', 'ba_dur_manuf_high_tons',
       'ab_dur_manuf_high_trips', 'ba_dur_manuf_high_trips',
       'tot_dur_manuf_high_tons', 'tot_dur_manuf_high_trips',
       'ab_motorvehicles_tons', 'ba_motorvehicles_tons',
       'ab_motorvehicles_trips', 'ba_motorvehicles_trips',
       'tot_motorvehicles_tons', 'tot_motorvehicles_trips', 'ab_mixed_tons',
       'ba_mixed_tons', 'ab_mixed_trips', 'ba_mixed_trips', 'tot_mixed_tons',
       'tot_mixed_trips'],
      dtype='object')

In [ ]:
reverse_freight_types = {v: k for k, v in freight_types.items() if k}
direction = ['ab', 'ba', 'tot']
def normalize_df(df):
    records = []
    for idx, row in df.iterrows():
        for freight_code, freight_name in reverse_freight_types.items():
                record = {
                    'route_id': row['route_id'],
                    'direction': direction.upper(),
                    'freight_type': freight_name,
                    'tons': row.get(f'{direction}_{freight_code}_tons', None),
                    'trips': row.get(f'{direction}_{freight_code}_trips', None),
                    'total_tons': row.get(f'tot_{freight_code}_tons', None),
                    'total_trips': row.get(f'tot_{freight_code}_trips', None)
                }
                records.append(record)